*{
  box-sizing: border-box;
}
header{
  height:35vh;
  background-color: lightcyan;
  text-align: center;
  
}

.middle-section{
  display:flex;
  justify-content:flex-start;
  width:150vw;
  height:75vh;
  
}

aside{
  width: 25vw;
  height:75vh;
  background-color: lightseagreen;
}

.image-section{
  display:flex;
  background-color: aliceblue;
  flex-direction: column;
  text-align: left;
  height:50vh;
  width:75vw;
}

footer{
  height:20vh;
  background-color: lime;
}
